#
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
# CONFIG_TARGET_ramips_rt305x=y
# CONFIG_TARGET_ramips_rt305x_DEVICE_huawei_hg255d
CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1218a=y
# CONFIG_TARGET_ramips_mt7620_DEVICE_lenovo_newifi-y1=y

#
CONFIG_PACKAGE_luci-app-upnp=y

#
CONFIG_PACKAGE_ipv6helper=y
